/*
 * This file contains all classes to help styling and that affect components.
 *
 * Created at: 01/22/2022
 * Author: Diego Gomes <dgs190plc@outlook>
 */
*::-webkit-scrollbar {
    width: 8px;
    background: #0E0E0E;
}

*::-webkit-scrollbar-thumb {
    background: #474747;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgb(var(--bs-primary-rgb));
}

* {
    scrollbar-color: rgb(var(--bs-primary-rgb)) #0E0E0E;
}

body {
    overflow-y: scroll !important;
}

/* Navbar */
.navbar {
    background: #0C0C0C;
}

#search-bar,
#search-button {
    height: 3rem;
    background-color: var(--lighter-gray);
    border-color: var(--lighter-gray);
    color: #808080;
}

#search-bar {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    font-size: .875rem;
}

#search-bar::placeholder,
#search-bar::-webkit-input-placeholder {
    color: #808080;
    font-size: .875rem;
}

#search-bar:focus,
#search-bar:active {
    box-shadow: none;
}

#search-button {
    width: 3rem;
    border: none !important;
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
    text-align: center;
}

.navbar-brand {
    padding-right: 5rem;
}

@media screen and (min-width: 1800px) {
    .navbar {
        padding-left: 7.75vw;
        padding-top: 0 !important;
    }

    .navbar-brand {
        display: none;
    }

    #search-bar {
        margin-left: 4.022916666666667vw;
        width: calc(42.03125vw - 3rem);
    }

    #schedule-dropdown-btn {
        min-width: 9.333333333333334vw;
        margin-left: 2.3854166666666665vw;
        font-size: .8rem;
    }

    #notification-icon {
        margin-left: 3.2291666666666665vw;
        line-height: 3rem;
    }

    #user-profile {
        margin-left: 2.0833333333333335vw;
    }

    .navbar {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .navbar .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar .navbar-nav {
        flex-direction: row;
    }

    .navbar-toggler {
        display: none;
    }

    #navbar-external-link {
        margin-left: 2.38125vw;
    }
}

/* Breadcrumb */
.breadcrumb {
    align-content: center;
    height: 100%;
    margin: 0 !important;
    font-size: .9rem;
}

.breadcrumb a:not(.active),
.breadcrumb .separator:not(:last-child) {
    color: #333333;
}

.breadcrumb a:not(.active) {
    text-decoration: none;
    font-weight: 400;
}

.breadcrumb a:not(.active):hover {
    text-decoration: underline;
}

.breadcrumb .separator {
    padding: 0 .2rem;
}

.breadcrumb a.active,
.breadcrumb .separator:last-of-type {
    color: #ffffff;
}

.breadcrumb a.active {
    text-decoration: none;
    pointer-events: none;
}

/* Sidebar */
.mobile-sidebar {
    display: none;
}

@media screen and (max-width: 1800px) {
    .navbar {
        min-height: 10vh;
        padding-top: 2rem;
        padding-bottom: 2rem !important;
    }

    .mobile-sidebar {
        background: var(--medium-gray);
        z-index: 1031;
        position: relative;
        top: 3rem;
        right: var(--bs-gutter-x,.75rem);
        display: block;
    }

    .mobile-sidebar {
        min-height: 90vh ;
        width: 100vw;
    }

    .sidebar-nav {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        list-style: none;
        padding: none;
    }

    .sidebar-nav .side-item {
        width: 80%;
        display: flex;
        flex-direction: row;
        margin: 10px 10%;
        color: #FFFFFF;
        text-align: center;
    }

    .sidebar-nav .side-item .icon {
        font-size: 1.4rem;
        text-align: right;
    }

    .sidebar-nav .side-item .side-link {
        padding-left: 9%;
        color: #FFFFFF;
        text-decoration: none;
        font-size: 1.2rem;
    }

    .desktop-sidebar {
        display: none !important
    }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
    .tabs-row {
        width: 100% !important;
    }
}

@media screen and (min-width: 1200px) and (max-width:  1800px) {
    .container {
        width: 100% !important;
        max-width: 100% !important;
    }

    .tabs-row {
        width: 104% !important;
    }

    .side-link {
        width: 130px;
    }

    .side-item {
        text-align: left !important;
        padding: 0 2.563rem;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
    #tenth-block .file:nth-child(4) {
        margin-left: 0 !important;
        position: relative;
        left: 17px;
    }

    #tenth-block .file {
        margin-left: 17px !important;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
    #tenth-block .file:nth-child(4) {
        margin-right: 23px !important;
    }

    #tenth-block .file:nth-last-child(1) {
        margin-left: 0 !important;
    }
}

@media screen and (min-width: 1200px) {
    .desktop-sidebar {
        width:  3.8541666666666665vw;
        position: fixed;
        left: 2.5vw;
        top: 5.375rem;
        display: block;
        border-radius: .25rem;
        background: var(--medium-gray);
        z-index: 1031;
        animation: sidebarHide .7s;
    }

    .desktop-sidebar .sidebar-nav {
        list-style: none;
        text-align: left;
        padding: 0 !important;
    }

    .desktop-sidebar .side-item,
    .desktop-sidebar .icon,
    .desktop-sidebar .side-link {
        color: #fff;
        transition: color .5s;
        font-size: .875rem;
    }

    .desktop-sidebar .side-item:hover .icon:hover,
    .desktop-sidebar .side-item:hover .side-link {
        color: rgb(var(--bs-primary-rgb));
    }

    .side-item {
        width: auto !important;
        display: flex;
        margin: 1.525rem 0;
        padding: 0 1.563rem;
    }

    .desktop-sidebar .icon {
        width: 10%;
        font-size: 1.5rem;
    }

    .desktop-sidebar .side-link {
        display: none;
    }

    .desktop-sidebar.expanded {
        width: 18.489583333333332vw;
        height: 100vh;
        left: 0;
        top: 0;
        border-radius: 0;
        animation: sidebarShow .7s;
    }

    @keyframes sidebarShow {
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    }

    @keyframes sidebarHide {
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    }

    .desktop-sidebar.expanded .side-item {
        padding: 0 0 0 calc(2.5vw + 1.563rem) !important;
    }

    .desktop-sidebar.expanded .sidebar-header .side-item:first-of-type .icon img {
        padding-top: 6.735rem;
    }

    .desktop-sidebar.expanded .side-item .side-link {
        display: block;
        text-decoration: none;
        padding: 0 1.375rem;
    }

    .sidebar-header .side-item:first-of-type .icon img {
        padding-top: 1rem;
        padding-bottom: 2.6rem;
    }

    .sidebar-footer {
        padding-top: 2.6rem;
    }
}

@media screen and (max-width: 1700px) and (min-width: 1200px) {
    .desktop-sidebar {
        width: 5.8vw;
    }

    .desktop-sidebar.expanded {
        width: 30.4vw !important;
    }

    #search-bar {
        max-width: 80%;
        margin-left: 10%;
    }
}

/* Modals */
.modal-left::before {
    content: " ";
    width: 6px;
    height: 29.220023282887077vh;
    background: rgb(var(--bs-primary-rgb));
    position: absolute;
    left: 0;
    top: 4rem;
    z-index: 10;
}

.modal-left .modal-content {
    width: 25vw !important;
    height: 100vh !important;
    background: var(--medium-gray) !important;
    border: 0 !important;
    border-radius: 0 !important;
}

.modal-left .modal-dialog {
    margin: 0;
}

.modal-left .modal-header {
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start;
    padding-top: 3.5rem;
    border: 0;
}

.modal-left .modal-header h5 {
    color: #fff;
    font-weight: 600;
}

.modal-left .modal-header i {
    font-size: 1.1rem;
    padding-left: 5px;
    padding-top: 5px;
}

.modal-left .modal-header i,
.modal-left .modal-header h6 {
    color: #9E9E9E;
}

.modal-left .modal-header,
.modal-left .modal-body {
    padding-left: 3.4rem;
}

.modal-left .btn-close {
    padding: 1rem 1.25rem !important;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23c0c0c0'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;;
}

@media screen and (max-width: 1000px) {
    .modal-left .modal-content {
        width: 50vw !important;
    }
}

@media screen and (max-width: 660px) {
    .modal-left .modal-content {
        width: 90vw !important;
    }
}

.modal-middle .modal-dialog {
    max-width: 31vw;
}

.modal-middle .modal-content {
    width: 31vw;
    border-radius: 0;
    background: var(--gray);
}

.modal-middle .modal-content::before {
    content: " ";
    background: rgb(var(--bs-primary-rgb));
    width: 80%;
    height: 4px;
    margin: auto;
    position: relative;
    bottom: 2px;
}

.modal-middle .modal-header {
    padding-top: 3.125rem;
    padding-left: 3.125rem;
    border: 0;
}

.modal-middle .modal-body {
    padding: 3.125rem;
    padding-top: 0;
}

.modal-middle .btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23c0c0c0'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;;
    position: relative;
    bottom: 3.8rem;
}

.modal-middle .modal-footer {
    padding-bottom: 3.125rem;
    display: flex;
    justify-content: center;
    border: 0;
}

.modal-middle .modal-footer .confirm-button {
    background: rgb(var(--bs-primary-rgb));
    border: 0;
    border-radius: 100%;
    color: #fff;
    outline: 0;
    padding: .8rem 1rem;
}

@media screen and (max-width: 600px) {
    .modal-middle .modal-dialog {
        max-width: 100vw;
    }

    .modal-middle .modal-content {
        width: 90vw;
        margin: 0 auto;
    }
}

@media screen and (min-width: 600px) and (max-width:  1600px) {
    .modal-middle .modal-dialog {
        max-width: 70vw;
    }

    .modal-middle .modal-content {
        width: 70vw;
    }
}

.modal-vh-100 .modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 52.5vw;
}

.modal-vh-100 .modal-content {
    border-radius: 0;
    background: var(--gray);
    width: 52.5vw;
    height: 100vh;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.modal-vh-100 .modal-body {
    padding-top: 4rem;
    padding-bottom: 0;
}

.modal-vh-100 .modal-content::before {
    content: " ";
    background: rgb(var(--bs-primary-rgb));
    width: 80%;
    height: 6px;
    margin: auto;
    position: relative;
    bottom: 2px;
}

@media screen and (max-width: 1100px) {
    .modal-vh-100 .modal-dialog {
        margin: 0;
        max-width: 100vw;
    }

    .modal-vh-100 .modal-content {
        width: 100vw;
        padding: 0;
    }
}

.modal-confirm .modal-dialog {
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 20vw;
}

.modal-confirm .modal-content::before {
    content: " ";
    background: rgb(var(--bs-primary-rgb));
    width: 70%;
    height: 6px;
    margin: auto;
    position: relative;
    bottom: 2px;
}

.modal-confirm .modal-content {
    background: var(--lighter-gray);
    width: 20vw;
}

.modal-confirm .modal-header {
    padding: 54px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 0;
}

.modal-confirm .modal-header h5 {
    color: rgb(var(--bs-primary-rgb));
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
}

.modal-confirm .modal-body {
    padding: 0 20%;
    text-align: center;
    font-size: .875rem;
    color: #c0c0c0;
    border: 0;
}

.modal-confirm .modal-footer {
    border: 0;
    display: flex;
    justify-content: center;
    padding: 45px 0;
}

.modal-confirm .modal-footer button {
    border: 0;
    background: var(--gray);
    padding: .875rem 1rem;
    border-radius: .25rem;
    color: #cfcfcf;
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 500;
    transition: .3s linear;
}

.modal-confirm .modal-footer button:hover,
.modal-confirm .modal-footer button:focus,
.modal-confirm .modal-footer button:active {
    box-shadow: none;
    border: 0;
    color: #fff;
    background: rgb(var(--bs-primary-rgb));
}

@media screen and (max-width: 1400px) {
    .modal-confirm .modal-dialog {
        max-width: 40vw;
    }

    .modal-confirm .modal-content {
        width: 40vw;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .modal-confirm .modal-dialog {
        max-width: 70vw;
    }

    .modal-confirm .modal-content {
        width: 70vw;
        padding: 0;
    }
}

/* Switches */
.form-switch .form-check-input {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28196, 196, 196, 1%29'/%3e%3c/svg%3e") no-repeat;
}

.form-check-input {
    background: transparent;
    border-color: #c0c0c0 !important;
    height: 24px;
    width: 43px !important
}

.form-switch .form-check-input:focus {
    box-shadow: none !important;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28196, 196, 196, 1%29'/%3e%3c/svg%3e") no-repeat;
    border-color: rgb(196, 196, 196) !important;
}

.form-switch .form-check-input.checked,
.form-switch .form-check-input:is(:checked) {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 111, 0, 1%29'/%3e%3c/svg%3e") right center no-repeat !important;
    border-color: rgba(255, 111, 0, 1) !important;
}

label {
    z-index: 2
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--bellow .select2-selection--single, .select2-container--default.select2-container--open.select2-container--bellow .select2-selection--multiple {
    border-color: rgb(var(--bs-primary-rgb));
}

.datatables {
    width: calc(100% - 1rem);
    margin-left: .5rem;
}

table.dataTable td, table.dataTable th {
    font-size: .875rem;
    font-weight: 400;
    color: #cfcfcf;
}

table.dataTable {
    border-collapse: collapse !important;
}

.datatables thead {
    background: #262626;
}

.datatables thead th {
    padding: 18px 0;
        padding-left: 30px;
        padding-bottom: 10px;
}

.datatables tbody tr td {
    padding: 18px 0;
        padding-left: 30px;
        padding-bottom: 10px;
    transition: .2s linear;
}

.datatables tbody tr:hover td:not(:nth-last-child(1)) {
    color: rgb(var(--bs-primary-rgb));
}

.datatables tbody tr td:nth-last-child(1) {
    text-align: right;
}

.datatables tbody tr td:nth-last-child(1) i {
    font-size: 1rem;
    padding: 0 .4rem;
    transition: inherit;
    cursor: pointer;
}

.datatables tbody tr td:nth-last-child(1) i:hover {
    color: rgb(var(--bs-primary-rgb));
}

.select2-search--dropdown {
    border: 0 !important;
    background: #333;
}

.select2-search--dropdown {
    border: 1px solid #666;
    background: #333;
    color: #c0c0c0;
}

.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-search--dropdown .select2-search__field,
.select2-search__field {
    border: 1px solid #666 !important;
    background: #333 !important;
    color: #c0c0c0 !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus-visible,
.select2-search--dropdown .select2-search__field:focus-visible,
.select2-search__field:focus-visible {
    border-color: #ff6f00 !important;
    box-shadow: none;
    outline: 0 !important;
}

.select2-results__option {
    color: #c0c0c0;
}

.modal {
    background: rgba(0, 0, 0, .82);
}

.card-include {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #B6B6B6;
    padding: 18px 0;
    transition: .4s;
}

.card-include:hover {
    background: rgb(var(--bs-primary-rgb));
    color: #c0c0c0;
}

.photo-modal div:nth-child(2)::before {
    content: " ";
    background: rgb(var(--bs-primary-rgb));
    display: block;
    width: 80%;
    height: 4px;
    margin: 0;
        margin-left: auto;
        margin-right: auto;
    position: relative;
    top: 2px;
    z-index: 2;
}

.photo-modal .modal-dialog,
.photo-modal .modal-content {
    width: 100vw;
    max-width: 100vw;
}

.photo-modal .modal-dialog {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    --size:  500px;
}

.photo-modal .modal-content {
    background: transparent !important;
    height: 100vh;
    width: 100vw;
    margin-top: 0 !important;
}

.photo-modal .modal-body {
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-modal img {
    height: var(--size);
    width: var(--size);
}

@media screen and (min-width: 1200px) and (max-width: 1280px) {
    /*.photo-modal .modal-content::before {
        top: 18px
    }*/
}

@media screen and (min-width: 1280px) and (max-width:  1300px) {
    /*.*//*photo-modal .modal-content::before {
        top: calc(21.5% + 2px);
    }*/
}

@media screen and (min-width: 1900px) {
    .photo-modal img {
        --size: 700px;
    }

    /*.photo-modal .modal-content::before {
        top: calc(var(--size) / 2 - 17.59vh);
    }*/
}

#photo-modal-prev {
    transform: rotate(180deg);
    left: 23px;
}

#photo-modal-next {
    right: 23px;
}

#photo-modal-prev,
#photo-modal-next {
    background: #B6B6B6;
    border: 0 !important;
    padding: 8px 12px;
        padding-bottom: 8px;
        padding-left: 12px;
    font-size: 1.3rem;
    position: relative;
    border-radius: 6px;
    padding-top: 10px;
    padding-left: 14px;
    transition: .25s linear;
}

#photo-modal-prev:hover,
#photo-modal-next:hover {
    background: rgb(var(--bs-primary-rgb));
    color: #fff;
}

#add-opt-modal .modal-dialog {
    max-width: 900px;
    width: 900px;
    height: 100vh;
    max-height: 100vh;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
}

#add-opt-modal .modal-content {
    border-radius: 0;
    background: #1A1A1A;
    border: 0;
    max-height: 90vh;
    overflow-y: auto;
}

#add-opt-modal .modal-header::before {
    content: " ";
    background: rgb(var(--bs-primary-rgb));
    display: block;
    width: 65%;
    height: 4px;
    margin: 0;
        margin-left: 80px;
        margin-bottom: 144px;
    position: absolute;
    z-index: 2;
}

#add-opt-modal .modal-header {
    padding-left: 70px;
    padding-top: 50px;
    border: 0 !important;
}

#add-opt-modal .modal-header .title {
    font-size: 18px !important;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0 !important;
}

#add-opt-modal .modal-header .subtitle {
    font-weight: 400;
    color: #9e9e9e;
}

#add-opt-modal .modal-header i,
#add-opt-modal .modal-header button {
    color: #B6B6B6 !important;
}

#add-opt-modal .modal-header button {
    position: relative;
    bottom: 53px;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23c0c0c0'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

#add-opt-modal .modal-body {
    padding-left: 70px;
    padding-bottom: 43px;
    padding-top: 33px;
}

.collapse-toggler {
    background: #333;
    border-radius: 4px;
    padding: 15px 23px;
    color: #CFCFCF;
    font-size: 14px;
    display: flex;
    margin-top: 18px;
}

.collapse-toggler:nth-child(1) {
    margin-top: 0;
}

.collapse-toggler[aria-expanded="false"]::after,
.collapse-toggler[aria-expanded="true"]::after {
    content: "\e92f";
    font-weight: normal !important;
    font-family: 'icomoon' !important;
    margin-left: auto;
    transition: .4s;
}

.collapse-toggler[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

.collapse ul,
.checked-opts ul {
    list-style: none;
    margin-top: 19px;
    padding-bottom: 20px;
}

.collapse ul li,
.checked-opts ul li {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.collapse ul li span,
.checked-opts ul li span {
    color: #CFCFCF;
    font-size: 14px;
    font-weight: 400;
    padding-left: 12px;
}

.collapse ul li .form-check,
.collapse ul li .form-check-input,
.checked-opts ul li .form-check,
.checked-opts ul li .form-check-input {
    height: 18px !important;
    width: 18px !important;
}

.collapse ul li .form-check-input:is(:checked),
.checked-opts ul li .form-check-input:is(:checked) {
    /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ff6f00' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");*/
    border-color: rgb(var(--bs-primary-rgb)) !important;
    background-color: rgb(var(--bs-primary-rgb));
    box-shadow: none !important;
}

#add-opt-modal .col-6:nth-child(2) {
    padding-left: 80px;
    padding-right: 70px;
}

#add-opt-modal .col-6:nth-child(2)::before {
    content: "Adicionados ao Veículo";
    font-size: 14px;
    color: #C0C0C0;
    background: #1a1a1a;
    position: absolute;
    padding: 0 6px;
    margin-left: 13px;
    margin-bottom: 6px;
    z-index: 3;
}

.checked-opts {
    border: 1px solid #333;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    border-radius: 4px;
    position: relative;
    top: 9px;
}

#add-opt-modal .confirm-button {
    border: 0;
    border-radius: 100%;
    height: 45px;
    width: 45px;
    background: rgb(var(--bs-primary-rgb));
    color: #fff;
    margin-top: 60px;
}

#add-opt-modal .form-check-input:focus {
    border-color: invalid-value !important;
    box-shadow: none !important;
}

@media screen and (min-width: 1900px) {
    .carousel {
        /*position: relative;
        top: 30px;
        marign-bottom: 30px;*/
    }
}

.fa-camera::before{
    font-family: 'Font Awesome 5 Free' !important;
    font-weight: 900 !important;
    font-style: normal;
    position: relative;
}

.fa-camera[data-bs-target="#add-photo-modal"]::before {
    left: 3px;
}

#modal-camera-icon::before {
    top: 2px;
    left: 3px;
}

#margin-lancamentos {
    padding-left: 300px;
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
    #margin-lancamentos {
        padding-left: 240px;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1400px) {
    #margin-lancamentos {
        padding-left: 275px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1500px) {
    #margin-lancamentos {
        padding-left: 390px;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1600px) {
    #margin-lancamentos {
        padding-left: 485px;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1700px) {
    #margin-lancamentos {
        padding-left: 590px;
    }
}

@media screen and (min-width: 1700px) and (max-width: 1800px) {
    #margin-lancamentos {
        padding-left: 685px;
    }
}
